.title h1{
    color: black;
    text-align: center;
    font-family:"ヒラギノ角ゴ ProN W3";
}

h1 {
    color: #001858;
    text-align: left;
    font-family: "ヒラギノ角ゴ ProN W3";
}
h2 {
    color: #f3d2c1;
    text-align: left;
    font-family: "ヒラギノ角ゴ ProN W3";
}
p {
    color: #001858;
    text-align: left;
    font-family: "ヒラギノ角ゴ ProN W3";
}

